@import url('fonts.css');


form label {
	font-size: 11px;
	display: block;
	text-align: left;
	margin-bottom: 20px;
	color: #676767;
}

input {	
	font-size: 14px;
	padding: 0.1em;
	background-color: white;
	border: none;
	border-bottom: 1px solid #dadada;
	border-radius: 2px;
    display: block;
    margin-bottom: 10px;
}
input:FOCUS {
	outline: 0;
}

form.boxed {
	position: relative;
    left: 50%;
    margin-left: -11rem;
    width: 22rem;
	text-align: center;	
	display: block;
}
	form.boxed input {	
		padding: 0;
		width: 328px;
	}
	
	form.boxed a#reset_pw_link {
		text-decoration: none;
		display: block;
		color: #263238;
		margin-top: 20px;
	}	

	form button {
		font-size: 15px;
		padding: 5px 20px;
		background-color: #00bf6d;
		text-align: center;
		color: white;		
		border: 1px solid #aaa;		
		border-radius: 7px;
		margin-top: 14px;
	    position: relative;
	    display: inline-block;
	}
	
		form button:DISABLED {
			background-color: #aaa;
		}

		form button.wide {
			width: 100%;
		}
		
		form button.blue {
			background-color: #009bbf;
		}
	
			form button.blue:hover {
				background-color: #00afcc;
			}
	
	form span.errorMsg {
		color: red;	   
    	font-style: italic;
    	font-size: 13px;
	}