@import url(fonts.css);

.hidden {
    display: none;
}

body {
    /*background-image: url('images/glasgow-bg.jpg');*/
    background-color: white;  /* moved to styles.css */
    /*background-color: #264f5a;*/
    background-size: cover;
    background-position-y: -210px;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1350px) {
    body {
        background-position-y: -280px;
    }
}

@media screen and (min-width: 1350px) {
    body {
        background-position-y: -350px;
    }
}

@media screen and (min-width: 1950px) {
    body {
        background-position-y: -450px;
    }
}



div.text-left {
    text-align: left;
}
div.text-right {
    text-align: right;
}

/* TODO: remove */
.c1000 {
    position:relative;
    left:50%;
    margin-left:-500px; /*this is half of width of your div*/
    width: 1000px;
}

div.body-container {
    padding: 30px;
    margin-top: 40px;

    position:relative;
    left:50%;
    margin-left:-500px; /*this is half of width of your div*/
    width: 1000px;


    background-color: white;
    background-size: 1000px;
    background-repeat: no-repeat;
}

div.bg-landing {
    background-image: url('images/landing.jpg');
    text-align: center;
}

div.bg-page {
    background: url('images/header.jpg') no-repeat;
    background-size: 100%;
}

span.logo-text {
    color: white;
    font-size: 2.5em;
    line-height: 1em;
    text-align: left;
    font-family: "Montserrat", serif;
    font-weight: 400;
}

/*
moved to styles.css
h2.page_header {*/
    /*text-align: center;*/
    /*display: block;*/
    /*font-weight: bold;*/
    /*font-size: 1em;*/
    /*color: #263238;*/
/*}*/

span.bold {
    font-weight: 700;
}

div.modal {
    padding: 20px;
    width: 700px;
}

div.footer {
    margin-top: 80px;
    border-top: 1px solid #eee;
    padding-top: 10px;
    width: 100% !important;
    text-align: center;
}




