@media print {

    .no-print {
        display: none !important;
    }

    .print-hide {
        visibility: hidden !important;
    }

    h1.print-header {
        display: block;
        margin: 1cm;
        text-align: center;
    }

    div.section {
        width: 85%;
        margin: 0;
        border: none;
        box-shadow: none;
        left:0;
        page-break-before: always;
        max-width: unset;
    }
    div.section-page {
        page-break-before: always;
    }
    div.total {
        border: none;
        margin-top: 2.5cm;
        margin-left: 0.5cm;
        page-break-after: always;
    }

    .gauge-full {
        border-width: 3px;
    }

    span.print-tip {
        display: inline
    }

    .t1-name {
        font-size: 1.6em;
    }
    .t2-name {
        font-size: 1.6em;
        margin-top: 2em;
    }
    .t2-scorecard {
        color: black !important;
        box-shadow: 3px 3px 3px 0 #ddd;
    }

    .score-Aplus, .score-Aplus div.score-box {
        background-color: unset;
        color: #00bf6d;
    }

    div.score-A, .score-A div.score-box {
        background-color: unset;
        color: #008040;
    }

    div.score-B,  .score-B div.score-box {
        background-color: unset;
        color: #dce300;
    }

    div.score-C, .score-C div.score-box {
        background-color: unset;
        color: #dd7b00;
    }

    div.score-D, .score-D div.score-box {
        background-color: unset;
        color: #df1b00;
    }

    div.score-E, .score-E div.score-box  {
        background-color: unset;
        color: #ac0025;
    }

    div.score-NA, .score-NA div.score-box {
        background-color: unset;
        color: #c0c0cc;
    }

    div.score-none, .score-none div.score-box {
        background-color: unset;
        color: #fafafa;
    }


    .s10 + .t1-name {
        display: none;
    }


}