@import url(fonts.css);
@import url(report-print.css);

body {
    background-color: #fafafa;
}

h1.print-header {
    display: none;
}

/* Section styles */

div.section {
    padding: 5px 30px;
    background-color: white;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    max-width: 650px;
}

div.total {
    padding: 20px 30px;
}

.report-page li.option {
    list-style: disc;
    list-style-position: inside;
}

div.section li.option .option-comment {
    font-weight: normal;
    font-style: italic;
    display: block;
}

.score-Aplus {
    background-color: #00bf6d;
}

.score-A {
    background-color: #008040;
}

.score-B {
    background-color: #dce300;
}

.score-C {
    background-color: #dd7b00;
}

.score-D {
    background-color: #df1b00;
}

.score-E {
    background-color: #ac0025;
}

.score-NA {
    background-color: #c0c0cc;
}

.score-none {
    background-color: #fafafa;
}


div.section-nav {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

    div.section-nav a {
        color: #ccccca;
    }

    div.section-nav a:hover {
        color: #039be5;
    }


.t1-name {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #263238;
    padding-top: 5px;
}

.t1-score {
    font-weight: bold;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.survey-button {
    margin-bottom: 30px;
}


.t2-name {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

.t2-scorecard {
    color: white;
    margin: 15px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    page-break-inside: avoid;
}

.t2-scorecard:hover {
    box-shadow: 0px 5px 10px 1px #d5d5d5;
    cursor: pointer;
    position: relative;
    top: -1px;
}

div.score-box {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: white;
    border-radius: 9px;
    min-width: 1.5em;
}

div.scorecard-header {
    margin-bottom: 0;
    line-height: 2em;
    font-size: 1.5em;
}

.scorecard-section {
    background-color: white;
    padding: 30px 5px 5px 20px;
    line-height: 21px;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;;
    font-size: 13px;
    font-weight: 700;
    color: #263238;
    position: relative;
}

h4.part-header {
    color: #70787c;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.scorecard-section h4.part-header {
    position: absolute;
    top: 5px;
    left: 5px;
    line-height: 0px;
}

.scorecard-section div.row {
    margin-bottom: 10px;
}

div.scorecard-strategies-name {
    text-align: right;
}

div.scorecard-strategies-value {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #30515a;
    font-weight: 700;
    font-family: 'Montserrat';
    display: inline-block;
}

h5.strategy-name {
    font-weight: 700;
    color: #263238;
    font-size: .8em;
    margin-top: 20px;
}

div.strategy-comment {
    margin-bottom: 50px;
}

div.report-page hr {
    width: 80%;
    margin: 40px auto 20px auto;
    border: none;
    border-top: 1px solid #eee;
}


.value-gauge
{
    display: inline-block;
    width: 6px;
    height: 16px;
    border: 1px solid #1191ba;
    border-radius: 4px;
    position: relative;
    top: 4px;
    margin-right: 1px;
}

.gauge-full {
    background-color: #1191ba;
}

.gauge-empty {
    background-color: white;
}

.tip {
    color: #6f7780;
}

span.print-tip {
    display: none;
}

.report-page {
    max-width: 700px;
}


/* TODO:  make report page centered when on narrow screen*/